
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "about_us";
}
<!-- Start Page Title Area -->
<div class="page-title-area style-four "
     style=" background-image: url(../uploadss/setting/1633529701page_title.jpg);">
    <div class="container">
        <div class="page-title-content text-start">
            <h4>
                الدكتور محمد الشرمان للمحاماة والاستشارات القانونية
            </h4>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class=" nav-link ">الرئيسية</a>
                </li>
                <li>الدكتور محمد الشرمان للمحاماة والاستشارات القانونية</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start About Area -->
<div class="marketing-about-area pt-3 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="marketing-about-image">
                    <img src="../uploadss/about/1633529333about_logo.png"
                         alt="الدكتور محمد الشرمان للمحاماة والاستشارات القانونية" width="30%">
                </div>
            </div>

            <div class="col-md-12 pt-3">
                <div class="marketing-about-content">
                    <p>
                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">مؤسس المكتب:</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <strong>
                                <span style="font-size:16px">ـ الدكتور/ محمد علي شحادة الشرمان</span>
                            </strong>
                        </span>
                    </p>



                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">مزايا المكتب وأهدافه:</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ يتميز مكتب الدكتور محمد الشرمان للمحاماة والاستشارات
                                القانونية:
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ وجود فريق مختار بعناية من القانونيين المتمرسين من جنسيات
                                مختلفة. حيث نسعى جاهدين لتوفير أفضل مستوى من الخدمة بقدرة وكفاءة عالية. ويتميز فريق
                                العمل بما عرف عنهم من النزاهة والحرص والعمل الجاد والقدرة على تقييم الأوضاع
                                القانونية وتقديم الخدمات بفاعلية وسرعة من خلال بذل قصارى جهدهم في أداء
                                العمل.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ الحفاظ على سرية المعلومات الشخصية لعملائه، والصدق والأمانة
                                في التعامل معهم انطلاقاً من كون المحاماة رسالة سامية يجب أن تؤدى بأمانة وإخلاص
                                وتفاني في العمل من أجل الوصول لتحقيق العدالة.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ التواصل مع العملاء وإفادتهم بخطوات سير الدعاوى حتى صدور
                                الحكم النهائي.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ تقديم الحلول القانونية للعديد من القضايا ونتج عن ذلك كسب
                                ثقة العملاء بالإضافة لثنائهم على أداء العمل.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">ـ يتميز فريق العمل.&nbsp;</span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ التواصل مع العملاء في أي مكان: موقعك الجغرافي حول العالم لا
                                يهم، نحن متاحون إلكترونيًا وهاتفيًا للإجابة على أية استفسارات أو تساؤلات قانونية،
                                مما يجعلنا قريبين بشكل دائم من العميل لتلبية احتياجاته.&nbsp;
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ المساهمة في تقديم أفضل الخدمات القانونية التي تلائم كافة
                                شرائح المجتمع.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                ـ العمل على إرساء دعائم مهنة المحاماة وتوعية المجتمع بأهميتها
                                لحماية حقوق الأفراد والجماعات التي كفلها لهم القانون من خلال تقديم خدمات وأعمال
                                قانونية متميزة وفقاً لأفضل المعايير العالمية والدولية.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">مجلة المكتب:</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                &nbsp;يصدر مكتب الدكتور محمد الشرمان للمحاماة والاستشارات
                                القانونية مجلة الكترونية باسم &quot; المحامي العربي&quot; وهي مجلة دورية تصدر بداية
                                كل عام قضائي تتضمن مقالات وأخبار قانونية منوعة.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">كتب وأبحاث ودراسات قانونية:</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                يسعى مكتب الدكتور محمد الشرمان للمحاماة والاستشارات القانونية
                                لترسيخ حب القراءة والاطلاع لدى المحامين وكافة المهتمين بالمجال القانوني، حيث يقدم
                                أهم الأبحاث والدراسات القانونية التي تساعدهم على أداء أعمالهم.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">الدورات التدريبية:</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                رغم كثرة ضغوط العمل، يحرص المكتب على نشر الثقافة القانونية
                                لدى المواطن الأردني بوجه عام ورجال القانون بوجه خاص، حيث يسعى المكتب جاهداً لتقديم
                                دورات تدريبية بهدف ترسيخ ونشر الوعي القانوني وذلك للحد من المنازعات، فالعلم بالقانون
                                يعني افتراض علم المواطن بالقانون واطلاعه عليه.
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                &nbsp;ومن هذا المنطلق يسعى المكتب لعقد دورات تدريبية يتم
                                الإعلان عنها على الموقع الإلكتروني للمكتب، كما يقوم المكتب بتقديم ورش عمل وجلسات
                                توعية قانونية للمؤسسات والأفراد من خلال فرعيه: الخوير، نزوى يحاضر فيها نخبة من رجال
                                القانون، ويعقد دورات تدريبية لخريجي كليات القانون لتأهيلهم للعمل في كافة مجالات
                                القانون وخاصة تدريب المحامين على أعمال المحاماة.&nbsp;
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">لماذا نحن؟</span>
                            </strong>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                اختيارك لمكتب الدكتور محمد الشرمان للمحاماة والاستشارات
                                القانونية هو اختيارك لفريق قانوني متخصص في تقديم الخدمات القانونية في العديد من
                                المجالات، هذا الفريق سيعمل على إيجاد الحلول والبدائل القانونية المناسبة لأي مشكلة
                                تستعصي على العميل.&nbsp;
                            </span>
                        </span>
                    </p>

                    <p dir="rtl" style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify">
                        <span style="color:#e74c3c">
                            <strong>
                                <span style="font-size:16px">فريق العمل:</span>
                            </strong>
                        </span>
                    </p>

                    <p style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                لدينا
                                طاقم عملي مهني على مستوى عالي من الخبرة والكفاءة ويضم مكتبنا نخبة متميزة من المحامين
                                والمستشارين والاداريين المحليين والدوليين من ذوي الخبرة في المجال القانوني للمساهمة
                                في تحقيق الحماية القانونية لعملائنا، حيث يقوم المحامون لدينا بالتمثيل القانوني
                                بالنيابة عن الشركات والمؤسسات والأفراد، كما أن فريقنا يتميز بالخبرات والمعرفة
                                والاهتمام بأدق التفاصيل في التمثيل القانوني أمام جميع المحاكم القضائية، ويضم فريق
                                العمل:
                            </span>
                        </span>
                    </p>

                    <p style="text-align:justify">
                        <span style="color:#000000">
                            <span style="font-size:16px">
                                1ـ محمد
                                علي شحادة الشرمان&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                                قاضي محكمة التمييز/ مؤسس المكتب
                            </span>
                        </span>
                    </p>



                    <p dir="rtl" style="text-align:justify">&nbsp;</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Area -->
