
@{
    ViewData["Title"] = "BookConsultation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Start Page Title Area -->
<div class="page-title-area style-four " style=" background-image: url(../../uploadss/setting/1633529701page_title.jpg);">
    <div class="container">
        <div class="page-title-content text-start">
            <h4> حجز استشارة قانونية</h4>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">الرئيسية</a></li>
                <li>حجز استشارة قانونية </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/mhmdshhadhalshrman95/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
